[Unit]
Description=Keyboard Event Device to USB HID
After=network.target
BindsTo=sys-class-input-keyboard.device
After=sys-class-input-keyboard.device
Requires=mkusbhid.service

[Service]
ExecStart=/bin/sh -c "/opt/event2usbhid/bin/event2usbhid keyboard < /dev/input/keyboard > /dev/hidg0"
Restart=always
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=sys-class-input-keyboard.device
WantedBy=multi-user.target
